@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body { font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
/* Scroll reveal animation */
.animate-show {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
